* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main {
  width: 370px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 70px #000;
}
#chk {
  display: none;
}
.login {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 40px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #0fa958;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #0a6635;
}
.info {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.info label {
  font-size: 2rem;
  color: #0fa958;
  transform: scale(0.6);
  text-transform: uppercase;
}

#chk:checked ~ .info {
  transform: translateY(-500px);
}
#chk:checked ~ .info label {
  font-size: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  transform: scale(1);
}
#chk:checked ~ .login label {
  transform: scale(0.6);
}

.info .info_text {
  text-align: center;
  font-size: 13px;
  color: #535353;
}

.info .info_text::after {
  content: "*";
  color: red;
}

.info .info_text::before {
  content: "*";
  color: red;
}

.info_wrapper {
  /* width: 100%; */
  padding: 1rem;
}

.info_wrapper .info_row {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  padding-left: 0;
}

.info_row .title {
  text-transform: capitalize;
  color: rgb(82, 82, 82);
}

.info_row .title::after {
  content: ":";
  padding: 0 0.5rem;
}

.info_row .value {
  color: #1a173dab;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.4s;
}

.info_row .value:hover {
  color: #1c118a;
}
