*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary_color: #00437b;
    --primary_red: #d91a31;

}


.upper_header{ 
   background: url(images/header-bg.jpg) no-repeat #FFF center top;
    height: 153px;
}

.upper_header > .container > img{
    height: 100px;
    width: fit-content;
    object-fit: contain;
}

.header_hover:hover{
    transition: all 0.4s;
    color: var(--primary_color);
    cursor: pointer;
}

.contact_info {
     color: #d91a31;
}

.contact_info > .phone {   
    font-size: 18px;
    font-weight: 800;
}

.contact_info > .phone > span{
    padding-left: 0.5rem;
    cursor: pointer;
}

.contact_info > .career > span{
    cursor: pointer;
}

.lower_header{    
    background: var(--primary_red);
   color: white;
   font-weight: 500;
   font-family:   Arial, sans-serif, 'Arial Narrow';
}

.lower_header > .container > .header_menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.lower_header > .container > .header_menu > li{
    padding: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.lower_header > .container > .header_menu > .active{
    background: var(--primary_color);
}


.main_section{
    background: url(images/baner.jpg) #FFF;
   background-size: cover;
   backface-visibility: visible;
}

.main_section > .main_body{
    min-height: 80vh;
    color: var(--bs-gray-200);
}

.welcome{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.opacity_hover:hover{
    opacity: 0.95;
    transform: scale(1.1);
}

.box_wrapper{
    padding: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 3px;
    transition: all .4s ease-in-out;
    width: 30%;
}

.box_wrapper > i{
float: right;
}

.box_wrapper:hover > i{
    color: #adadad;
}

.red_bg{
    background: #aa0014;
}

.grey_bg{
    background: var(--bs-gray-800);
}

.bg_primary{
    background: var(--primary_color);
}


footer{    
    color: var(--bs-gray-200);
}

.upper_footer{
    background: var(--primary_red);
}

.footer_row > .col > .contact_info{
    position: relative;
   color: var(--bs-gray-200);
}

.footer_row > .col > .contact_info > img{
   width: 70px;
    height: 50px;
    position: absolute;
    left: 210px;
    top: -2px
}

.text_light{
  color: var(--bs-gray-500);
}


.lower_footer{
    background-color: rgba(0, 0, 0, 0.61);
    font-size: 13px;
}

