/* Reset some default styling */
body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
}

.center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.center-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.skills-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
}

.skill {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* Positioning skills in a circle */
.skill:nth-child(1) {
    transform: rotate(0deg) translate(100px) rotate(0deg);
}

.skill:nth-child(2) {
    transform: rotate(45deg) translate(100px) rotate(-45deg);
}

.skill:nth-child(3) {
    transform: rotate(90deg) translate(100px) rotate(-90deg);
}

.skill:nth-child(4) {
    transform: rotate(135deg) translate(100px) rotate(-135deg);
}

/* Add more nth-child styles for additional skills */

.skills-container:hover .skill {
    transform: rotate(var(--angle)) translate(100px) rotate(calc(-1 * var(--angle) + 20deg)) scale(1.01);
}

.skills-container:hover {
    animation: rotateContainer 4s linear infinite;
}

@keyframes rotateContainer {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}